:root {
  --gap: 5px;
  --repeat: 3;
  --post: 300px;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--gap);
  width: calc(
    calc(var(--post) * var(--repeat)) + calc(var(--gap) * var(--repeat))
  );
}

.posts {
  display: grid;
  grid-template-columns: repeat(var(--repeat), 1fr);
  gap: var(--gap);
}

.post {
  width: var(--post);
  height: var(--post);
}
